.contactlist > article:first-of-type {
    margin-block-start: 3vmax;
}

.contactlist > article {
    margin-block-start: 1vmax;
}

.contactlist > article:nth-child(2n) {
    background-color: aliceblue;
}